BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpacesInParentheses: false
SpacesInAngles: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: true
BinPackParameters: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SortIncludes: true
IncludeBlocks: Regroup
